#wall-container {
    margin: 0 auto;
    width: 600px;
}

#update {
    width: 550px;
    font-size: 12px;
}

.stbody {
    min-height: 70px;
    margin-bottom: 10px;
    /* border-bottom: dashed 1px #cc0000; */
    /* border-bottom: solid 1px #999; */
    border-bottom: solid 1px #dedede;
}

.stimg {
    float: left;
    height: 50px;
    width: 50px;
    border: solid 1px #dedede;
    padding: 5px;
}

.sttext {
    margin-left: 70px;
    min-height: 50px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 5px;
    display: block;
    font-family: 'Georgia', Times New Roman, Times, serif
}

.sttime {
    font-size: 11px;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ol.li .stbody {
    min-height: 70px;
}