body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper .content {
  width: 100%;
}

.wrapper .content button {
  text-decoration: none;
  padding: 15px 25px;
  margin-top: 10px;
  margin-left: 15px;
  background-color: white;
  border: none;
  border-radius: 3px;
  color: #31d6bd;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.wrapper .content button:hover {
  background-color: #21c21e;
  color: white;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.wrapper .content .signUp {
  width: 60%;
  float: left;
  position: relative;
  background-color: #31d6bdd8;
}

.wrapper .content .signUp .signUp-bg {
  position: absolute;
  z-index: -1;
}

.wrapper .content .signUp .signUp-bg img {
  width: 100%;
}

.wrapper .content .signUp .sign-content {
  padding: 50px 70px 92px 120px;
}

.wrapper .content .signUp .sign-content .sign-form input {
  padding: 20px 145px 20px 15px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 15px;
}

.wrapper .content .signUp .sign-content .sign-form input::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signUp .sign-content .sign-form input:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signUp .sign-content .sign-form input::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signUp .sign-content .sign-form input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signUp .sign-content .sign-form textarea {
  border: none;
  border-radius: 3px;
  resize: none;
  margin-left: 15px;
  margin-top: 10px;
  padding: 20px 0 0 12px;
}

.wrapper .content .signUp .sign-content .sign-form textarea::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signUp .sign-content .sign-form textarea:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signUp .sign-content .sign-form textarea::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signUp .sign-content .sign-form textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b9b2b2;
}

.wrapper .content .signupText {
  width: 40%;
  float: right;
}

.wrapper .content .signupText .h-text {
  padding: 80px 100px 0px 25px;
  margin-left: 50px;
}

.wrapper .content .signupText .h-text h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.wrapper .content .signupText ul {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  margin-left: 60px;
}

.wrapper .content .signupText ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 18px;
}

.wrapper .content .signupText ul li::before {
  content: "\25AA";
  color: #31d6bd;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.wrapper .content .signupText button {
  text-decoration: none;
  padding: 15px 25px;
  margin-top: 18px;
  margin-left: 75px;
  background-color: #31d6bd;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.wrapper .content .signupText button:hover {
  background-color: #a2fff3;
  color: black;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
/*# sourceMappingURL=style.css.map */